.main-body{
    background-color: palegreen;
}
.header{
    background-color: deepskyblue;
    color: white;
}
/*Hide green-blue lines when screen size is smaller*/
@media (min-width: 800px) {
    .header-inner{
        /*border-bottom: solid greenyellow thick;*/
    }
    .header-left{
        text-align: left;
        /*border-right: solid blue thick;*/
    }
    .header-right{
        /*border-left: solid greenyellow thick;*/
    }
    .header-nav{
        /*border-top: solid blue thick;*/
    }
}
.header-heading{
    text-shadow: 3px 3px black;
    font-family: 'Varela Round', sans-serif;
}
.header-heading-2{
    text-shadow: 1px 1px black;
}

.header-left{
    text-align: right;
    /*border-right: solid blue thick;*/
}

.header-nav-top{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}
.header-nav{
    margin-left: -7.5rem;
    background-color: deepskyblue;
    /*border-top: solid blue thick;*/
}
.header-nav-inner{
    text-align: center;
}
.header-nav-item{
    margin-left: 7.5rem;
}
.font-heading{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}
.font-common{
    font-family: 'Nunito', sans-serif;
}
.nav-link:hover{
    /*font-size: 18px;*/
    font-weight: 800;
}
.personal-note{
    text-align: center;
    margin-top:40px;
}
.personal-note-item{
    /*border: double;*/
    text-transform: capitalize;
}
.personal-note-heading{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
.product-single-block{
    margin-bottom: 100px;
}
.product-single-block a{
    float: right;
}
.product-single-block img{
    width: 100%;
}
.products-view-more a{
    /*text-align: center;*/
    width: 100%;
    margin: 0 auto;
}
.footer{
    /*margin-top: 70px;*/
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: deepskyblue;
    text-align: center;
    color: white;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: white;
}
/*Show description when hover product images - Start*/
.psb-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.psb-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.product-single-block:hover .psb-img {
    opacity: 0.3;
}

.product-single-block:hover .psb-middle {
    opacity: 1;
}

.psb-text {
    /*background-color: black;*/
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    padding: 16px 32px;
}
/*Show description when hover product images - End*/


.products-heading{
    margin-top: 10px;
}
.products-description{
    margin-bottom: 25px;
}
.header-search{
    text-align: center;

}
.header-search{
    margin-top: 25px;
    margin-bottom: 25px;
}